*{
	margin: 0;
}
.container{
	width: 1200px;
	margin: 0 auto 0 auto;
}
.navigation{

	height: 60px;
	padding: 10px;
	text-align: center;
	}
	.heading{
		height: 90px;
		padding: 10px;
		background-color:	#000024; 
		text-align: center;
	}
	.content{
		height: 200px;
		padding: 10px;
		background-color: #F2F2C7;
		text-align:center;
	}
	.contentone{
		height: 600px;
		padding: 10px;
		text-align: center;
	}
    .footer{
    	height: 90px;
        padding: 10px;
    	background-color: black;
    	text-align: center; 
    }
    .footerone{
        height: 200px;
        padding-top: 50px;
        width: 1200px;
        background-color: black;
    }
    #intro{
    	font-family: impact;
    	font-size: 16pt;
    	text-align: center;
    	color: black;
    	margin-top: 10px;

    }
    .heading ul{
    	text-align: center;
    }
    .heading a{
    	text-decoration: none;
    	color: white;
    	font-size: 17pt;
    	font-family: impact;
    }
    .heading ul li{
    	display: inline-block;
    	margin-right: 40px;
    	padding: 6px;
    	margin-top: 30px;
    }
    .heading a:hover{
    	color: grey;
    	text-decoration: underline;
    }
    .content{
    	text-align: center;
    	color: black;
    	font-weight: bold;
    	font-style: italic;
    	font-family: serif;
    	font-size: 50pt;
    	margin-top: 30px;
    	text-decoration: underline;
    }
    .bottom-nav{
        height: 90px;
        padding: 10px;
        width: 1200px;  
    }
    .branches{
        height: 150px;
        width: 300px;
        background-color: black;
        margin-left: 50px;
        float: left;
        text-align: center;
        color: grey;
        font-family: serif;
        font-weight: bold;
        font-size: 13pt;
        
    }
    .timing{
        height: 150px;
        width: 300px;
        background-color: black;
        margin-left: 95px;
        float: left;
        text-align: center;
        color: grey;
        font-family: serif;
        font-weight: bold;
        font-size: 13pt;
    }
    .media{
        height: 150px;
        width: 300px;
        background-color: black;
        margin-right: 50px;
        float: right;
        text-align: center;
        color: grey;
        font-family: serif;
        font-weight: bold;
        font-size: 13pt;
    }
   .bottom-nav ul{
        text-align: center;
    }
    .bottom-nav a{
        text-decoration: none;
        color: grey;
        font-size: 15pt;
        font-family: impact;
    }
    .bottom-nav ul li{
        display: inline-block;
        margin-right: 30px;
        padding: 6px;
        margin-top: 20px;
    }
    .bottom-nav a:hover{
        color: white;
        text-decoration: underline;
    }
    

